<a href="https://colab.research.google.com/github/erinijapranckeviciene/MLdata/blob/main/Saliu_panasumai_isuic_regresijos_koeficientu_klasterizavimas_EP_VDU_2021_DG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import pandas as pd
# ikeliu duomenis is Github, taip patogiau
url="https://raw.githubusercontent.com/erinijapranckeviciene/MLdata/main/Kaggle-data-suic.csv"
data = pd.read_csv(url)

# Panaudosim klasterizavimą ištirti šalių panašumą pagal isuic tendencijas- kitimą pagal metus atskirai vyrams ir moterims

In [45]:
print(data.dtypes)

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

# Mums reikia pasilikti tik kelis kintamuosius kol kas ir pasidaryti šalių vektorių kad galėtume jį panaudoti cikle

In [46]:
data1=data[['country','year','suicides/100k pop','sex','age']].copy()
data1.rename(columns={'suicides/100k pop':'suicides'}, inplace=True)
country=data['country'].unique()
data1.describe(include='all')

        country          year      suicides    sex          age
count     27820  27820.000000  27820.000000  27820        27820
unique      101           NaN           NaN      2            6
top     Iceland           NaN           NaN   male  15-24 years
freq        382           NaN           NaN  13910         4642
mean        NaN   2001.258375     12.816097    NaN          NaN
std         NaN      8.469055     18.961511    NaN          NaN
min         NaN   1985.000000      0.000000    NaN          NaN
25%         NaN   1995.000000      0.920000    NaN          NaN
50%         NaN   2002.000000      5.990000    NaN          NaN
75%         NaN   2008.000000     16.620000    NaN          NaN
max         NaN   2016.000000    224.970000    NaN          NaN

In [47]:
data1.head()

   country  year  suicides     sex          age
0  Albania  1987      6.71    male  15-24 years
1  Albania  1987      5.19    male  35-54 years
2  Albania  1987      4.83  female  15-24 years
3  Albania  1987      4.59    male    75+ years
4  Albania  1987      3.28    male  25-34 years

Galim bandyti seaborn įvairiais atvaizdavimo būdais, bet dabar nebandysim
https://seaborn.pydata.org/examples/horizontal_boxplot.html

In [ ]:
import seaborn as sns
#sns.pairplot(data1, hue="sex" )

# Kad sudaryti regresijos modelius, kiekvienos šalies duomenis reikės atskirai susitvarkyti. Šituose duomenyse suicides taškas yra skirtingas sex ir age, reiškia reikės pakeisti kategorinius į 'one-hot' kodavimą. Pakeitimus atliekam cikle kiekvienai šaliai. Galim ir iš kart skaičiuoti regresijos koeficientus ir formuoti požymių masyvą.

In [48]:
#pasitikrinam kad viskas gaunasi ir atskiriam šalis
salysp = []

for c in country:
  cdata=data1[(data1['country']==c)]
  #print(type(cdata))
  #print(cdata.head())
  row, col = cdata.shape
  print(c,row)
  salysp.append([c, row])

salys = pd.DataFrame(salysp, columns=['salis', 'n'])
salys.head()

Albania 264
Antigua and Barbuda 324
Argentina 372
Armenia 298
Aruba 168
Australia 360
Austria 382
Azerbaijan 192
Bahamas 276
Bahrain 252
Barbados 300
Belarus 252
Belgium 372
Belize 336
Bosnia and Herzegovina 24
Brazil 372
Bulgaria 360
Cabo Verde 12
Canada 348
Chile 372
Colombia 372
Costa Rica 360
Croatia 262
Cuba 288
Cyprus 178
Czech Republic 322
Denmark 264
Dominica 12
Ecuador 372
El Salvador 288
Estonia 252
Fiji 132
Finland 348
France 360
Georgia 264
Germany 312
Greece 372
Grenada 310
Guatemala 360
Guyana 300
Hungary 310
Iceland 382
Ireland 360
Israel 372
Italy 372
Jamaica 204
Japan 372
Kazakhstan 312
Kiribati 132
Kuwait 300
Kyrgyzstan 312
Latvia 252
Lithuania 262
Luxembourg 372
Macau 12
Maldives 120
Malta 372
Mauritius 382
Mexico 372
Mongolia 10
Montenegro 120
Netherlands 382
New Zealand 348
Nicaragua 72
Norway 360
Oman 36
Panama 300
Paraguay 324
Philippines 180
Poland 288
Portugal 324
Puerto Rico 372
Qatar 178
Republic of Korea 372
Romania 334
Russian Federation 324
Saint Kitts and Nevis 36
Saint Lucia 336
Saint Vincent and Grenadines 300
San Marino 36
Serbia 216
Seychelles 216
Singapore 372
Slovakia 264
Slovenia 252
South Africa 240
Spain 372
Sri Lanka 132
Suriname 336
Sweden 358
Switzerland 252
Thailand 334
Trinidad and Tobago 324
Turkey 84
Turkmenistan 348
Ukraine 336
United Arab Emirates 72
United Kingdom 372
United States 372
Uruguay 336
Uzbekistan 264

                 salis    n
0              Albania  264
1  Antigua and Barbuda  324
2            Argentina  372
3              Armenia  298
4                Aruba  168

#Atliekant patikrinimą galim pastebėti kad šalys gali skirtis pagal tai kad kai kuriems metams nėra duomenų. Kol kas pasiliekam taip, o paskui pasirinksim tik tas kurioms yra atitikimas pagal visus metus.

# Susikonstruojam regresijos modelius kuriuos nagrinėsim

In [49]:
from sklearn.metrics import explained_variance_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

from time import time

from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression, RANSACRegressor, Lasso, Ridge
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.svm import SVR
from sklearn.svm import LinearSVR

regressors = [
    LinearRegression(), 
    #RANSACRegressor(), 
    KNeighborsRegressor(),
    KNeighborsRegressor(n_neighbors=9, metric='manhattan'),
    SVR(),
    #LinearSVR(),
    Lasso(),
    Ridge()
    #GaussianProcessRegressor(),
]

# Ištiriam regresijos modelius kurių koeficientų duomenis naudoti klasterizavimui

In [ ]:
rez = []
# Atliekam modelių tyrimą, rezultatus susirenkam į dataframe
for c in country:
  print(c)
  #paliekam tik šalies duomenis 
  cdata=data1[(data1['country']==c)]
  y_train=cdata['suicides']
  #išmetam šalies kintamąjį ir taget kintamąjį
  cdata1=cdata.drop(columns=['country','suicides'],axis=1)
  X_train=pd.get_dummies(cdata1)
  for model in regressors:
    start = time()
    model.fit(X_train, y_train)
    train_time = time() - start
    start = time()
    predictions = model.predict(X_train)
    predict_time = time()-start    
    #print(model)
    #print("\tTraining time: %0.3fs" % train_time)
    #print("\tPrediction time: %0.3fs" % predict_time)
    #print("\tExplained variance:", explained_variance_score(y_train, predictions))
    evc=explained_variance_score(y_train, predictions)
    #print("\tMean absolute error:", mean_absolute_error(y_train, predictions))
    mae=mean_absolute_error(y_train, predictions)
    #print("\tR2 score:", r2_score(y_train, predictions))
    r2=r2_score(y_train, predictions)
    #print()
    rez.append([c, model, evc, mae, r2, train_time])

rezdf = pd.DataFrame(rez, columns=['country', 'model', 'explainedVS','MeanAbsErr','R2','Time'])
rezdf.head()

# Išanalizuojam rezultatų matricą ir pasirenkam modelį kuris geriausias ar keli geriausi

In [42]:
rezdf
# geriau įsirašyti į google drve tokią didelę lentelę
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [43]:
rezdf.to_csv('regrrez.csv')
!cp regrrez.csv "drive/My Drive/"

# Rezultatai rodo kad geriausiai daugymai šalių veikia nerest neighbor regression, bet kaip pasiimti koeficientus?  Ir Ridge regression . Tad pasirinkime Ridge.

In [ ]:
#atsargines eilutes
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
r2_score?

Pastebėjimas Regresijos modelis Ridge "užnulina" nereikšmingų požymių koeficientus

In [ ]:
from sklearn.linear_model import Lasso, Ridge
model = Ridge()

rez = []
# Atliekam modelių tyrimą, rezultatus susirenkam į dataframe
for c in country:
  #print(c)
  #paliekam tik šalies duomenis 
  cdata=data1[(data1['country']==c)]
  y_train=cdata['suicides']
  #išmetam šalies kintamąjį ir taget kintamąjį
  cdata1=cdata.drop(columns=['country','suicides'],axis=1)
  X_train=pd.get_dummies(cdata1)
  model.fit(X_train, y_train)
  predictions = model.predict(X_train)
  evc=explained_variance_score(y_train, predictions)
  mae=mean_absolute_error(y_train, predictions)
  r2=r2_score(y_train, predictions)
  # prijunkime ir regresijos koeficientus ir regresijos metrikas
  rez1=model.coef_
  print(c, rez1[7], r2, rez1.length)
  rez.append([c, evc, mae, r2, model.intercept_, model.coef_[0], model.coef_[1], model.coef_[2], model.coef_[3], model.coef_[4], model.coef_[5],model.coef_[6], model.coef_[7] ] )
#columns=['country', 'explainedVS','MeanAbsErr','R2','intercept','year', 'sex_female', 'sex_male', 'age_15-24_years', 'age_25-34_years','age_35-54_years', 'age_5-14_years', 'age_55-74_years','age_75+ years'])

In [83]:
print(model.coef_[8])

IndexError: ignored

# Create dataframe of the results

In [76]:
#names=X_train.columns
#print(names)
rezdf = pd.DataFrame(rez, columns=['country', 'explainedVS','MeanAbsErr','R2','intercept','year', 'sex_female', 'sex_male', 'age_15-24 years', 'age_25-34 years','age_35-54 years', 'age_5-14 years', 'age_55-74 years','age_75+ years'])
rezdf.head()

ValueError: ignored

In [73]:
rez1

[['Albania',
  0.2956039373875816,
  2.1659326515790656,
  0.2956039373875816,
  -33.64598008696328,
  0.01858160869532604,
  -1.0781954887218086],
 ['Antigua and Barbuda',
  0.0646821226732901,
  1.2491641184709605,
  0.0646821226732901,
  -25.845377934952346,
  0.013202562471326751,
  -0.4536809815950859],
 ['Argentina',
  0.6748494080056677,
  4.992419639302478,
  0.6748494080056677,
  169.0923580971055,
  -0.0793115150700581,
  -6.637673796791434],
 ['Armenia',
  0.6220446496521241,
  1.563553212093351,
  0.6220446496521241,
  48.19301815404653,
  -0.022437341791857492,
  -1.6579666666666772],
 ['Aruba',
  0.15903384107408736,
  12.804276615743152,
  0.15903384107408747,
  2091.7255397993763,
  -1.0388850400519578,
  -6.1401176470588394],
 ['Australia',
  0.8178205923609095,
  3.5485382789961517,
  0.8178205923609095,
  284.48976512870775,
  -0.13575979310266797,
  -7.635939226519382],
 ['Austria',
  0.7754958630408019,
  8.836170304752104,
  0.7754958630408019,
  1237.7519652749293,
  -0.6069292514085641,
  -13.3670052083335],
 ['Azerbaijan',
  0.39642092442142784,
  1.130356673834103,
  0.39642092442142796,
  70.16475126318916,
  -0.03419527418635755,
  -0.8223711340206138],
 ['Bahamas',
  0.14322765153845085,
  1.5770847893215199,
  0.14322765153845085,
  -37.39182934681717,
  0.019304921798127397,
  -0.8813669064748215],
 ['Bahrain',
  0.363142677385091,
  1.748457631681584,
  0.3631426773850909,
  40.42925032966804,
  -0.019260505248730648,
  -0.9746456692913403],
 ['Barbados',
  0.2548592955680484,
  3.643824088323826,
  0.2548592955680484,
  480.8122889756064,
  -0.23901175228700555,
  -2.0220198675496337],
 ['Belarus',
  0.7754386631001102,
  12.216503955005443,
  0.7754386631001102,
  473.7844703201614,
  -0.22123312733638062,
  -21.51098425196858],
 ['Belgium',
  0.7558764458035128,
  6.597395839840271,
  0.7558764458035128,
  673.7737723162269,
  -0.3262679345452102,
  -10.762834224598844],
 ['Belize',
  0.2433931333371241,
  6.442785837608385,
  0.24339313333712398,
  -347.36939670861074,
  0.17668957986688852,
  -4.744763313609475],
 ['Bosnia and Herzegovina',
  0.5482846642913349,
  4.414970959595909,
  0.5482846642913349,
  -5933.53859848485,
  2.9506363636363644,
  -2.5680769230769225],
 ['Brazil',
  0.7715381012570159,
  1.9726211758127596,
  0.7715381012570159,
  -50.643343771327984,
  0.02824468263835219,
  -3.703315508021395],
 ['Bulgaria',
  0.7702016626410184,
  8.0507146430742,
  0.7702016626410184,
  1075.240086417922,
  -0.5280074895257869,
  -9.68441988950278],
 ['Cabo Verde',
  0.6243351123779382,
  7.024999999999999,
  0.6243351123779382,
  11.153333333333336,
  0.0,
  -7.285714285714287],
 ['Canada',
  0.8457299015569091,
  3.071297382897386,
  0.8457299015569091,
  363.05202732179356,
  -0.1753799105127048,
  -7.312399999999986],
 ['Chile',
  0.7601816152509072,
  4.160541078170271,
  0.7601816152509072,
  -434.725925135479,
  0.2226339840731158,
  -7.645721925133689],
 ['Colombia',
  0.7327220019138446,
  2.0207426286360586,
  0.7327220019138446,
  -153.43850671731394,
  0.07942004636940966,
  -3.5931283422459614],
 ['Costa Rica',
  0.7046305288558492,
  2.900286102852403,
  0.7046305288558492,
  -0.6579079875917033,
  0.0038767565162582496,
  -5.3411602209944755],
 ['Croatia',
  0.7935048273237455,
  8.86526584417249,
  0.7935048273237455,
  1059.5093709926825,
  -0.5170188485444246,
  -12.994848484848529],
 ['Cuba',
  0.718354591603656,
  9.963491861387984,
  0.718354591603656,
  1522.7560912529477,
  -0.7494554742409965,
  -10.795758620689686],
 ['Cyprus',
  0.4974306389603478,
  2.3725807664705707,
  0.4974306389603478,
  -563.7123200295398,
  0.28228387364720436,
  -2.1148888888888884],
 ['Czech Republic',
  0.7666307592666058,
  6.7526217481272175,
  0.7666307592666058,
  948.7448738631873,
  -0.4645055962135279,
  -11.3265123456789],
 ['Denmark',
  0.7917797788236851,
  4.706547519125406,
  0.7917797788236851,
  921.9383591003191,
  -0.4529015714688999,
  -6.884473684210546],
 ['Dominica', 1.0, 0.0, 1.0, 0.0, 0.0, 0.0],
 ['Ecuador',
  0.7246599068716415,
  1.9802101784653603,
  0.7246599068716415,
  -90.45653357320131,
  0.04838043076509528,
  -2.960133689839579],
 ['El Salvador',
  0.6914702784502373,
  3.7883413972040736,
  0.6914702784502375,
  339.40248799349166,
  -0.16423890277683947,
  -5.77124137931041],
 ['Estonia',
  0.7524707774169864,
  10.922400163483838,
  0.7524707774169864,
  2745.1096230824323,
  -1.3555275403094902,
  -17.640078740157414],
 ['Fiji',
  0.2295143408519713,
  4.391749765829045,
  0.22951434085197153,
  -295.3899413070134,
  0.1497845003796061,
  -2.357014925373129],
 ['Finland',
  0.796487128459226,
  6.993436235212454,
  0.796487128459226,
  1283.9778716157396,
  -0.6302885760026272,
  -13.596999999999996],
 ['France',
  0.7606883318092751,
  7.828211758148109,
  0.7606883318092752,
  918.5219840703387,
  -0.44853527863260545,
  -11.75969613259673],
 ['Georgia',
  0.623251120166114,
  2.112423808536824,
  0.6232511201661138,
  3.273836399367961,
  0.0004767985174554992,
  -2.585112781954895],
 ['Germany',
  0.7862645350081966,
  5.120902202039086,
  0.7862645350081966,
  810.349084662062,
  -0.3968984673237993,
  -8.184490445859936],
 ['Greece',
  0.742075651588411,
  1.5736600939448415,
  0.742075651588411,
  59.90906437413759,
  -0.0279221128322301,
  -2.5061497326202833],
 ['Grenada',
  0.07155780535497691,
  3.859111443206703,
  0.0715578053549768,
  162.6752859114654,
  -0.0802059180596396,
  -1.5576282051282033],
 ['Guatemala',
  0.6459464340039631,
  1.367152713688843,
  0.6459464340039631,
  -26.062327427813422,
  0.01462014756590411,
  -2.060110497237566],
 ['Guyana',
  0.5939454497310926,
  11.090176481377817,
  0.5939454497310928,
  -1906.1763976503112,
  0.9639307768231816,
  -12.627814569536314],
 ['Hungary',
  0.7938872154809715,
  12.894008351235946,
  0.7938872154809715,
  2298.2738931445015,
  -1.1309255799937326,
  -18.53823717948715],
 ['Iceland',
  0.4558178622652358,
  7.160546722504473,
  0.4558178622652358,
  123.17607805871053,
  -0.055208013465574066,
  -6.838802083333371],
 ['Ireland',
  0.7629922733229777,
  3.8233370449801405,
  0.7629922733229777,
  -69.60775490032502,
  0.04020522042193469,
  -6.669806629834321],
 ['Israel',
  0.7584855171258725,
  3.1941438188902826,
  0.7584855171258725,
  406.96302380740764,
  -0.19900574577467153,
  -4.588582887700481],
 ['Italy',
  0.73339655040743,
  3.5476855199356514,
  0.73339655040743,
  323.04150124215386,
  -0.15726151675010921,
  -4.990187165775414],
 ['Jamaica',
  0.1598484866158456,
  0.7483441108477834,
  0.1598484866158456,
  -65.24573723807329,
  0.03291569856175835,
  -0.3705825242718443],
 ['Japan',
  0.7987184171831049,
  6.400283664362821,
  0.798718417183105,
  223.659150337654,
  -0.10104297570646148,
  -7.838368983957128],
 ['Kazakhstan',
  0.7819438774054253,
  10.207824825190622,
  0.7819438774054253,
  826.7466304644779,
  -0.3976206483961028,
  -19.378535031847218],
 ['Kiribati',
  0.3475113741801892,
  8.118069268108389,
  0.3475113741801893,
  3070.9611168650927,
  -1.535223315669947,
  -4.138582089552221],
 ['Kuwait',
  0.564439217560687,
  0.6404955392336156,
  0.5644392175606872,
  -2.621861227665047,
  0.0019028153097823395,
  -0.15499999999999903],
 ['Kyrgyzstan',
  0.7127856075031024,
  5.480716742863558,
  0.7127856075031023,
  1047.5926477817757,
  -0.5160082046607032,
  -8.28292993630574],
 ['Latvia',
  0.7969062419779624,
  10.529855573666575,
  0.7969062419779624,
  2354.7056677840133,
  -1.159823612163186,
  -19.362874015748094],
 ['Lithuania',
  0.8116877325636916,
  13.263964909622365,
  0.8116877325636916,
  2148.625486529608,
  -1.0514022784155976,
  -27.33272727272729],
 ['Luxembourg',
  0.5994210851451514,
  8.168922322052925,
  0.5994210851451514,
  768.339146866452,
  -0.3758946271966669,
  -8.677112299465163],
 ['Macau',
  0.8788001796633196,
  4.6239285714285705,
  0.8788001796633196,
  14.31166666666667,
  0.0,
  -1.2985714285714283],
 ['Maldives',
  0.05035190678503776,
  2.814666730974688,
  0.05035190678503776,
  586.4684160313559,
  -0.2918064349399145,
  0.6129508196721334],
 ['Malta',
  0.36774505332990215,
  4.126627765152484,
  0.36774505332990215,
  -287.14674129616117,
  0.1460895131211989,
  -3.2758021390374052],
 ['Mauritius',
  0.5146276654794758,
  5.77157986951304,
  0.5146276654794759,
  446.7308136232053,
  -0.21750383015579497,
  -5.783177083333394],
 ['Mexico',
  0.7696743898006915,
  1.5827390565431112,
  0.7696743898006914,
  -126.85998765162465,
  0.0657837438258123,
  -3.4464438502673245],
 ['Mongolia',
  0.8482367575273573,
  4.773933333333333,
  0.8482367575273573,
  18.439,
  0.0,
  -10.669166666666666],
 ['Montenegro',
  0.4042232635033517,
  11.385961593401749,
  0.4042232635033517,
  -6657.014727295661,
  3.3259989909182637,
  -4.253688524590163],
 ['Netherlands',
  0.7960432353674974,
  2.6220376362640194,
  0.7960432353674974,
  236.55269264972782,
  -0.11295662034856961,
  -4.162343750000071],
 ['New Zealand',
  0.7796473628371197,
  4.256873890260672,
  0.7796473628371197,
  294.2353126605695,
  -0.1399917901563975,
  -8.17022857142848],
 ['Nicaragua',
  0.7761595156366279,
  2.1789144454181852,
  0.7761595156366279,
  674.7932477619802,
  -0.33203791469194327,
  -3.9127027027026946],
 ['Norway',
  0.8183799894721145,
  3.196155967863829,
  0.8183799894721145,
  397.9654883393275,
  -0.19246412813762936,
  -6.371325966850779],
 ['Oman',
  0.20899688725597043,
  1.1813375497147427,
  0.20899688725597032,
  496.346466140697,
  -0.2464497041420119,
  -0.6973684210526305],
 ['Panama',
  0.6595678298274201,
  2.6804991031820578,
  0.6595678298274201,
  14.40114026390529,
  -0.004289942517020672,
  -4.163708609271508],
 ['Paraguay',
  0.5770938224998783,
  1.8634953740182445,
  0.5770938224998784,
  -233.01064444387632,
  0.1185875651087041,
  -2.0609509202453693],
 ['Philippines',
  0.7331459685044683,
  0.7905033299617571,
  0.7331459685044683,
  -209.62483724809604,
  0.10589598233413594,
  -1.3130219780219734],
 ['Poland',
  0.8432888099371224,
  4.642541687355516,
  0.8432888099371224,
  23.059688044622064,
  -0.003889415014304016,
  -10.884137931034559],
 ['Portugal',
  0.709716306772556,
  6.092543297458308,
  0.709716306772556,
  65.84730067726868,
  -0.027270034925938883,
  -6.838343558282119],
 ['Puerto Rico',
  0.6746565298774403,
  5.37222018531489,
  0.6746565298774404,
  511.95163422722896,
  -0.2508826988340446,
  -8.293636363636262],
 ['Qatar',
  0.07348103373336368,
  1.6414607380762412,
  0.07348103373336345,
  25.989097013859492,
  -0.012060039756084226,
  -1.1080555555555562],
 ['Republic of Korea',
  0.6373851849959771,
  13.024449177778623,
  0.6373851849959771,
  -2422.0234153550523,
  1.2235795168173114,
  -10.267887700534667],
 ['Romania',
  0.8181141976160046,
  4.390115146849403,
  0.8181141976160046,
  167.30557010415686,
  -0.07734860901884014,
  -8.015446428571536],
 ['Russian Federation',
  0.7959302808328389,
  12.07178430295628,
  0.7959302808328389,
  1488.8941448700143,
  -0.7262746095538485,
  -23.1484355828218],
 ['Saint Kitts and Nevis', 1.0, 0.0, 1.0, 0.0, 0.0, 0.0],
 ['Saint Lucia',
  0.2124668583675734,
  7.778499452557823,
  0.21246685836757329,
  226.31815427071805,
  -0.10957140451330413,
  -4.756508875739618],
 ['Saint Vincent and Grenadines',
  0.15163917044551578,
  7.688809568914124,
  0.15163917044551578,
  -59.95067428391574,
  0.0328182664461915,
  -5.004072847682069],
 ['San Marino',
  0.2788583523021919,
  7.007890403160947,
  0.278858352302192,
  715.0407697456498,
  -0.3552610441767071,
  -3.832105263157889],
 ['Serbia',
  0.8110492211310314,
  8.734030407301507,
  0.8110492211310314,
  1163.8143125457786,
  -0.5689759243336197,
  -11.244449541284455],
 ['Seychelles',
  0.148717765507294,
  8.873171188596002,
  0.148717765507294,
  90.05310342134923,
  -0.04119724471749042,
  -6.433027522935796],
 ['Singapore',
  0.727122457472003,
  6.803903212089801,
  0.727122457472003,
  1218.7700495831848,
  -0.6008622022109473,
  -4.352887700534756],
 ['Slovakia',
  0.6840476330419268,
  6.365082048813392,
  0.684047633041927,
  732.8475671205931,
  -0.3596652853810821,
  -9.081203007518805],
 ['Slovenia',
  0.7759255809636767,
  11.429766803693981,
  0.7759255809636767,
  1600.1917733856885,
  -0.7842214046098911,
  -17.209763779527453],
 ['South Africa',
  0.6598224951758552,
  0.40356285841278916,
  0.6598224951758552,
  -57.42513475232843,
  0.029114772584889106,
  -0.5591322314049582],
 ['Spain',
  0.7594282044721381,
  3.8541071406823373,
  0.7594282044721381,
  199.8129845420849,
  -0.09519001377641886,
  -5.451978609625626],
 ['Sri Lanka',
  0.7504872520402552,
  12.667607844701998,
  0.7504872520402552,
  1812.254440572644,
  -0.8895713912361725,
  -19.50104477611932],
 ['Suriname',
  0.416890192698143,
  12.423129668729747,
  0.416890192698143,
  -875.0804684679756,
  0.4482144561788513,
  -10.775325443786901],
 ['Sweden',
  0.8071476530143924,
  3.863810252081183,
  0.8071476530143924,
  529.0604918033423,
  -0.25705782769092683,
  -6.608888888889006],
 ['Switzerland',
  0.7906529831576985,
  5.983198073135138,
  0.7906529831576986,
  1149.9929272539737,
  -0.5640742343902176,
  -9.13964566929133],
 ['Thailand',
  0.7550616672671564,
  2.0871926800248164,
  0.7550616672671564,
  45.307686207815536,
  -0.019121974500255233,
  -3.5916369047619185],
 ['Trinidad and Tobago',
  0.6052061119485077,
  6.397948196023598,
  0.6052061119485077,
  48.24304551295424,
  -0.017225924607010158,
  -8.523711656441597],
 ['Turkey',
  0.7791823169410231,
  0.6594049034422947,
  0.7791823169410231,
  -189.69432916490035,
  0.09545994065281899,
  -1.1894186046511628],
 ['Turkmenistan',
  0.5241249240955761,
  4.343357953142386,
  0.524124924095576,
  713.0920904538395,
  -0.35206723861910444,
  -3.8990571428571004],
 ['Ukraine',
  0.8042675764944498,
  9.469034733738132,
  0.8042675764944498,
  533.2020062547864,
  -0.25323748884486624,
  -17.566508875739405],
 ['United Arab Emirates',
  0.2566810395183522,
  0.7665065931772096,
  0.2566810395183523,
  -68.65915679304895,
  0.03485781990521326,
  -0.34148648648648516],
 ['United Kingdom',
  0.8269628891091627,
  2.0103718137490607,
  0.8269628891091627,
  190.06757509737966,
  -0.09128255098955008,
  -4.078395721925091],
 ['United States',
  0.773703796911657,
  4.352808314172838,
  0.773703796911657,
  193.27749134141405,
  -0.0897288397567286,
  -9.094518716577442],
 ['Uruguay',
  0.7096193453691653,
  9.082456778073494,
  0.7096193453691653,
  -505.46864382873787,
  0.26243679892400806,
  -12.871242603550355],
 ['Uzbekistan',
  0.702723545137552,
  2.693623033933254,
  0.702723545137552,
  428.3483830141512,
  -0.20998622709982045,
  -3.7346240601503795]]

In [ ]:








model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    print(model)
    print(model.coef_)
    print("\tExplained variance:", explained_variance_score(y_test, predictions))
    print("\tMean absolute error:", mean_absolute_error(y_test, predictions))
    print("\tR2 score:", r2_score(y_test, predictions))
    print()